/* Universal Selectors */
* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Element Selectors */
body {
  position: relative;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
footer {
  background-color: #0b7189;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  color: white;
  text-align: center;
}
main {
  padding: 100px 0;
}
header {
  position: fixed;
  top: 0;
  background-color: #228cdb;
  color: white;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 10px 0 10px;
}
section {
  display: block;
}

input {
  display: block;
  margin: 0 auto;
  width: 50%;
}

button {
  display: block;
  margin: 0 auto;
  width: 300px;
}

/* Class Selectors */

.nav-link {
  display: inline;
}

/* Id Selectors */

#contact-form-section {
  display: block;
  margin: 0 auto;
  background-color: #9c95dc;
  padding: 50px;
}

#contact-form-section h3 {
  text-align: center;
  color: white;
}

#nav {
  position: fixed;
  right: 0;
}

#todays-kitten {
  background-color: #c19ab7;
  text-align: center;
  color: white;
  padding: 10px;
}
